{%extends "base2/base.html"%}
{%block title %} Iniciar sesión {% endblock %}


{% include "base2/layout.html"%}
{%block content%}


<h3 style="color: #2575fc;  margin-top: 30px; text-align: center; font-weight: bold;">
  Bienvenido
  </h3>

  <div class="d-grid gap-2 col-6 mx-auto">
   
    <button class="btn btn-primary" type="button"> <a class="nav-link" href="/registrar" style="color: white;">Registrarme</a></button>
    <button class="btn btn-primary" type="button"><a class="nav-link" href="/auth" style="color: white;">Iniciar sesión</a></button>
  </div>

{%endblock%}