{%extends "base/base.html"%}
{%block title %} Escribe comentarios {% endblock %}


{% include "base/layout.html"%}
{%block content%}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">
            
            <a class="nav-link active" aria-current="page" href="{{ url_for('crear_prediccion_comentario') }}">
              Ingresa un comentario y conoce a los clientes</a>
            
            </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">
            <a class="nav-link active" aria-current="page" href="/prediccion-masiva">
              Carga archivos con comentarios</a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

  {%endblock%}