{%extends "base2/base.html"%}
{%block title %} Iniciar sesión {% endblock %}


{% include "base2/layout.html"%}
{%block content%}


<h3 style="color: #2575fc;  margin-top: 30px; text-align: center; font-weight: bold;">
   Inicia sesión!!!
  </h3>
  
  {% from "_macro.html" import render_form %}
  
  
  <div class="container">
    <div class="row" style="margin-top: 30px;">
      <div class="col-sm-6 col-md-8">
          <div class="col-sm-6 col-md-8">
            <form action="/auth" method="POST" class="form-horizontal" novalidate>
  
              <div class="form-group">
                {{render_form(formulario.username, class='form-control', placeholder='Username')}}
              </div>
  
              <div class="form-group">
                {{render_form(formulario.password, class='form-control', placeholder='Contraseña')}}
              </div>
  
            
  
              <div class="form-group">
                <div class="p-2">
                  <button type="submit" name="submit" value="Elegir" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </form>
          </div>
      </div>
      <div class="col-6 col-md-4">
  
        <div style="text-align: center;
                    width: 400px;
                    margin: 0 auto;
                    margin-top: 80px;
                    color: #2575fc;
                    font-style: oblique;" >
          <p style="color: #577cbb;
                    font-size: 50px;
                    font-style: inherit;"> {{result}}</p>
        </div>
        
  
      </div>
  
    </div>
  </div>




{%endblock%}